*, html, body {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  color: #303537;
  background: #F0F0F0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* html {
  scroll-padding-top: 100px; /* height of sticky header */


body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  padding-top: 56px;
  padding: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
  padding-block: 1.2em;
  text-align: center;
}

a {
  color: #303537;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 500;
}
a:hover, a:focus {
  color: #DE3163;
}
.testimonials {
  /* padding: 2em; */
  width: 100%;
}

.check-out {
  margin-top: 0.5em;
  padding-right: 2em;
  text-align: center;
  font-weight: 600;
}




@media (max-width: 730px) {
  body {
    padding-top: 44px;
    padding-bottom: 43px;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 15px;
  }
}

@media(max-width: 450px) {
  .check-out {
    font-size: 15px;
  }
}
